div{
    background-color: black;
    border: 2px double #071E22;
    height:50px;
    width:50px;
    position:absolute;
    top:100px;
    left:400px;
    border-radius: 50%;
    font-size: 50px;
    color:white;
    /* transition: all 2s ease-in; */
    animation-name: ani1;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform:rotate(90deg);
}
/* div:hover{
    background-color: #EE2E31;
    color:black;
    font-size: larger;
    transform:scalex(2); 
    border: 2px solid #256EFF;
    border-radius: 20%;
} */
/* 
div:active{
    background-color: #FFC857;
} */
@keyframes ani1{
    0% {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}