/* body{
    text-align: center;
}
div{
    border:2px solid black;
    width: 100px;
    height: 100px;
    display: inline-block;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 600px;
    height: 400px;
    flex-wrap: wrap; 
    align-items: center;
}
#box1{
    background-color:rgba(255, 0, 0, 0.7);
    
}
#box2{
    background-color: #EEF4D4;
    height: 300px;
}
#box3{
    background-color: #DAEFB3;
    height: 500px;
    flex-shrink: 2;
}
#box4{
    background-color: #EA9E8D;
    height: 300px;
}
#box5{
    background-color: #D64550;
} */
body{
    background-color: aqua;
}
a{
    display: inline-block;
    color:white;
    text-decoration: none;
    background-color: red;
}
.container{
    background-color:chartreuse;
    display:flex;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
}
#flexbox{
    color:red;
    background-color: brown;
    border:2px solid yellow;
    height:200px;
    width:200px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#box1{
    border:2px solid pink;
    height:50%;
    width:50%;
    background-color: greenyellow;
    align-self: self-start;
}
