div{
    height:100px;
    width: 100px;
    position:absolute;
    left:50%;
    border-radius: 50%;
    background-color: white;
    border: 10px solid black;
    border-top: 9px dotted #FFC971;
    animation: coloani 2s ease-in 0s infinite normal;
}
@keyframes coloani{
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}